.detail {
    width: 50vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px) {
        width: 90vw;
      }
    .main {
        width: 100%;
        flex-direction: row;
        margin-top: 20px;
        .wrapper {
            flex-direction: column;
            align-items: flex-end;
            margin: 40px 20px 0 0;
            width: 50%;
            .start {
                background: rgba($color: #800080, $alpha: 0.4);
                color: #800080;
            }
            .end {
                background: rgba($color: #038203, $alpha: 0.4);
                color: #038203;
            }
            .duration {
                background: rgba($color: #ff6933, $alpha: 0.4);
                color: #ff6933;
            }
            p {
                font-size: 0.8em;;
            }
        }
        .wrapper2 {
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
            h2 {
                margin-bottom: 20px;
            }
            form {
                width: 100%;
            }
            textarea {
                width: 100%;
            }
            .button {
                width: 100%;
                height: 20%;
                border: none;
                background: #038203;
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 600;
                outline: none;
                margin-top: 20px;
            }
        }
    }
}
.start, .end, .duration, .detail, .wrapper, .wrapper2, .main {
    display:flex;
}
.start, .end, .duration  {
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 15px 0
}