.styleUL  {
    list-Style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 5vh;
    margin-bottom: 20px;
    background: #038203;
    @media (max-width: 768px) {
        width: 100vw;
      }
      .styleLi  {
        display: inline;
        margin-right: 20px;
    }
}

.styleA {
    text-decoration: none;
    color: white;
}